@model HomeViewModel

@{
	ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_Carousel")

<h2>Pies of the Week</h2>
<h4>Out weekly selection - just for you!</h4>

<div class="row">
	@foreach (var pie in Model.PiesOfTheWeek)
	{
		<partial name="_PieOverviewPartial" model="@pie" />
	}
</div>