@model ShoppingCartViewModel

@{
	ViewData["Title"] = "Default";
}

<li class="nav-item">
	<a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index">
		<ion-icon name="cart-outline"></ion-icon>
		<span id="cart-status">
			@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
			{

				@Model.ShoppingCart.ShoppingCartItems.Count

			}
		</span>
	</a>
</li>


