@model PieShop.ViewModels.PiesListViewModel

@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<h1 class="text-center">@Model.CurrentCategory</h1>
	<div class="row">
		@foreach (var pie in Model.Pies)
		{
			<partial name="_PieOverviewPartial" model="@pie" />
		}
	</div>
</div>